[flake8]
exclude = .git,__pycache__,venv,migrations
max-complexity = 12
import-order-style = google
application-import-names = app, core, users
max-line-length = 120
black-config = pyproject.toml
inline-quotes = "
